<h1 mat-dialog-title>Create Post</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="post.title">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Short Description" [(ngModel)]="post.shortDescription">
  </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Description" [(ngModel)]="post.description">
    </mat-form-field>
  </div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select #fontSize placeholder="Category">
      <mat-option *ngFor="let category of categories" value="{{category}}">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="URL of the image" [(ngModel)]="post.image">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-flat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary">Save</button>
</div>
